###############################################################################################################
# Description: this config file defines the prime options of quick labeling system
#
#
# Author:      dmitriy moskalev (dm.moskalev@gmail.com)
#
# data:        2022.09.17
#
###############################################################################################################
#
# DETECTOR PARAMETERS
#------------------------------------------------------------------------------
# bottle cap (bc) circle detection options should be set after calibration
# [bc_radius] is a real cap radius that must be measured in micrometers (1mm=1000μm)
bc_circle_threshold=30
bc_circle_min_area=65000
bc_circle_max_area=140000
bc_radius=15000
#
# aluminum can (ac) latch detection options should be set after calibration 
ac_latch_threshold=85
ac_latch_min_area=2000
ac_latch_max_area=3200
# [ac_scale] defines placement of DMX label on can top cover. 
# Let D1 = distance between can center and latch center point
# Let D2 = distance between can center and DMX label center point
# then [ac_scale] = D2/D1
ac_scale=1.7
# aluminum can (ac) outer body detection options should be set after calibration 
# [ac_radius] is a real aluminium can radius that must be measured in micrometers (1mm=1000μm)
ac_circle_threshold=35
ac_circle_min_area=220000
ac_circle_max_area=300000
ac_radius=29500
#------------------------------------------------------------------------------
# CAMERA OPTIONS
#------------------------------------------------------------------------------
# [optShutter] exposition time 
# the value must be set as 8721*n [nanoseconds], where n is in range {1,2...256}
#optShutter=8721
#optShutter=279072
#optShutter=174420
optShutter=87210
#
# [optGain] gain should be set in range {0,1...256}
#optGain=40
optGain=195
#
# [optcapcnt] setting limits the saved images number if [optSaveMode]=1
optcapcnt=50
#
# image vertical and horizontal flip options: 0 - no flip, 1 - flip on 180 grades
opthflip=1
optvflip=1
#
# [optTriggerMode] settings: 0 - activate camera external hardware trigger (default), 1 - software trigger
# software trigger was added only for test purpose (not recommended)
#optTriggerMode=0 
#
# [optSaveMode] setting save image to output .raw file in grabber directory
#	0- no need
#	1- write to .raw file, name pattern "ddddd.raw"
optSaveMode=0
#------------------------------------------------------------------------------ 
# QUICK LABELING TOOLCHAIN OPTIONS
#------------------------------------------------------------------------------
# [optMode] setting: 
#	0- aluminum can detection in images gallery, 
#	1- aluminum can detection in live conveyor mode, 
#	2- bottle cap detection in images gallery, 
#	3- bottle cap detection in live conveyor mode
optMode=0
#
# [optGraph] settings: 
#	0- no graphic outputs
#	1- with X-graphic outputs (for LIVE modes every 5th image will be shown) 
optGraph=1;
#
# [optPeriod] settings defines target impuls period in milliseconds 
# depends on target conveyor velocity (products per second)
optPeriod=40
#
# [optLoopN] setting defines loop number
# in case of gallery mode it is the number of raw images for processing in [optDirectory],
# in case of live conveyor mode this option will limit the product counter, 
# limit 80000 of products (or HW trigger impulses) is set by default
optLoopN=300
#
# [optDirectory] setting defines directory name with gallery images
# usefull only for gallery modes
optDirectory=cane_moving
#------------------------------------------------------------------------------ 
# PRINTER OPTIONS
#------------------------------------------------------------------------------
# [optIP] defines printer ip adress
#optIP=172.16.85.62
optIP=127.0.0.1
#
# [optPort] defines the port for server requests
optPort=5001
